
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
  
  table td, table th {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
  }
  #filter_sort {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    padding: 1rem;
}

table {
    margin: auto;
}