#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    text-align: center;
    gap: 2rem;
   
}
#container img{
    width: 300px;
    height: 350px;
   
}
#container button{
    width: auto;
    padding: 10px 20px;
}
#container div{
    border:1px solid grey;
    padding-bottom: 1rem;
}


/* modal */


