.post{
    border:2px solid rgb(58, 204, 204);
   width: 80%;
   margin: auto;
   margin-bottom: 60px;
   border-radius: 5px;
   padding: 15px;
}

.post>h1{
    font-size: 32px
}

.post>h3{
    font-size: 24px;   
}